@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body:before {
 content: '';
 position: fixed;
 width: 100vw;
 height: 100vh;
  background-image: url("4.jpg");
  min-height: 730px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: absolute;
  margin: 30px;
  left:50%;
  top:50%;
  width: 400px;
  height: 400px;
  padding: 5px;
  background-color:rgba(44, 42, 42, 0.6);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  
}

.btn {
  width: 100px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer; 
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.header {
    margin-top: 2px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    background: blue;
    color: white;
    width:100%;
    height: 50px;
    text-indent: 0%;
    font-size: 10px;
  }
  h1{
    margin-top: 5px;
    padding-top: 5px;
  }